.button {
	@extend .transition-active;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1px 20px 0;
	height: 54px;
	border: 2px solid rgba(#000, 0.3);
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	letter-spacing: -0.5px;
	&:hover {
		background-color: rgba(#000, 0.3);
		color: rgba(#000, 0.8);
		transition: none;
	}
	&:active {
		border-color: rgba(#000, 0.25);
		background-color: rgba(#000, 0.25);
		.button__chevron-right {
			transform: translateX(1px);
			transition: none;
		}
	}
	&__chevron-right {
		margin-left: 5px;
		transition: transform 0.1s ease-out, fill $default-transition-duration $default-transition-function;
	}
}
