.russias-food-retail-market {
	$this: &;

	background-color: $c-white;
	.text:not(.c-gray-menu-text, .c-gray-desc-text) {
		color: $c-gray-menu-hover-text;
	}
	&__position {
		padding: 50px 55px 65px;
		box-sizing: border-box;
		border-radius: $default-border-radius;
		background: $c-bg-gray-light;

		@include max-screen($breakpoint-xs) {
			padding: 30px 20px;
		}
	}
	&__position-text {
		max-width: 672px;
	}
	&__position-list {
		display: grid;
		grid-template-columns: repeat(4, 261px);
		border-top: 1px solid $c-partners-border;

		@include max-screen($breakpoint-md) {
			grid-template-columns: repeat(4, 1fr);
		}

		@include max-screen($breakpoint-md-3) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include max-screen($breakpoint-xs) {
			display: flex;
			flex-direction: column;
		}
	}
	&__position-item {
		padding: 25px 30px;
		box-sizing: border-box;
		border-left: 1px solid $c-partners-border;

		@include max-screen($breakpoint-md-3) {
			&:not(:nth-child(2) ~ &) {
				border-bottom: 1px solid $c-partners-border;
			}
		}

		@include max-screen($breakpoint-xs) {
			&:not(:last-child) {
				border-bottom: 1px solid $c-partners-border;
			}
		}
	}
	&__position-value {
		display: flex;
		align-items: baseline;
		gap: 2px;
		margin-bottom: 4px;
		font-size: 40px;
		line-height: 100%;
		font-weight: 500;
		letter-spacing: -0.03em;
		&._gap-5 {
			gap: 5px;
		}
		&._unit {
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 400;
			&._fs-20 {
				font-size: 20px;
			}
			&._fs-14 {
				font-size: 14px;
				line-height: 1.43;
			}
			&._bold {
				font-weight: 700;
			}
		}
	}
	&__legend {
		display: flex;
		align-items: center;
		gap: 40px;
		&._vertical {
			flex-direction: column;
			align-items: initial;
			gap: 16px;
		}
		&._col-2 {
			display: block;
			columns: 100px 2;
			#{$this}__legend-item {
				margin-bottom: 16px;
				&:nth-child(3) ~ * {
					margin-left: -53px;
				}
			}

			@include max-screen($breakpoint-md-2) {
				display: flex;
				column-count: initial;
				#{$this}__legend-item {
					margin-bottom: initial;
					&:nth-child(3) ~ * {
						margin-left: initial;
					}
				}
			}
		}

		@include max-screen($breakpoint-md-2) {
			flex-direction: column;
			align-items: initial;
			gap: 15px;
		}
	}
	&__legend-item {
		display: flex;
		align-items: center;
		gap: 12px;
	}
	&__subtitle {
		margin-bottom: 32px;
	}
	&__text {
		margin-bottom: 64px;
		max-width: 632px;

		@include max-screen($breakpoint-sm) {
			margin-bottom: 28px;
		}
	}
	&__chart {
		margin-bottom: 30px;
	}
	&__chart-wrapper {
		position: relative;
		&._chart-of-top-5 {
			@include min-screen($breakpoint-lg) {
				margin-top: -20px;
				width: 1173px;
				height: 938px;
				img {
					width: 100%;
					height: 100%;
					max-height: none !important;
				}
			}
		}
		&._market-dynamics {
			overflow: hidden;

			@include max-screen(700px) {
				overflow: auto;
			}
			.russias-food-retail-market__chart-legend {
				position: absolute;
				top: 0;
				right: calc(210 / var(--container-width) * 100%);
				[lang='ru'] & {
					right: calc(160 / var(--container-width) * 100%);
				}

				@include max-screen($breakpoint-md) {
					position: sticky;
					top: 0;
					left: 0;
				}
			}
		}
	}
	&__chart-title {
		span {
			color: $c-light-gray-2;
			font-weight: 400;
		}
	}
	&__chart-text {
		max-width: 276px;

		@include max-screen($breakpoint-xs) {
			max-width: none;
		}
	}
	&__chart-inner {
		display: flex;
		justify-content: flex-end;
		column-gap: calc(76 / var(--container-width) * 100%);
		margin-bottom: -58px;

		@include max-screen($breakpoint-md) {
			margin-bottom: 28px;
		}

		@include max-screen($breakpoint-xs) {
			flex-direction: column;
			row-gap: 0.6em;
		}
	}
	&__legend-wrapper {
		display: flex;
		flex-wrap: wrap;
		row-gap: 0.6em;
		column-gap: 32px;
	}
	&__legend-text {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}
	&__chart-legend {
		display: flex;
		flex-wrap: wrap;
		row-gap: 0.5em;
		column-gap: 40px;
		color: $c-gray-header-text;
		font-size: 13px;
		line-height: 1.31;
		letter-spacing: -0.01em;
		&._fdc {
			flex-direction: column;
		}
		li {
			display: flex;
			align-items: center;
			column-gap: 12px;
		}

		@include max-screen($breakpoint-sm) {
			flex-flow: wrap;
			column-gap: unset;
			li {
				width: 100%;
				max-width: 48%;
				&:last-of-type {
					max-width: 100%;
				}
			}
		}
	}
	&__legend-icon {
		@include max-screen($breakpoint-sm) {
			display: inline-block;
			min-width: 14px;
			min-height: 14px;
		}
	}
	&__trends {
		margin-bottom: 66px;
	}
	&__trends-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;

		@include max-screen($breakpoint-xs) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__trends-text {
		max-width: 479px;

		@include max-screen($breakpoint-md) {
			max-width: 100%;
		}
	}
	&__trends-list-icon-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: $c-bg-gray-light;
	}
	&__trend {
		display: flex;
		align-items: flex-start;
		column-gap: 40px;
		padding-top: 10px;
		border-top: 1px solid $c-gray-menu-underline;

		@include max-screen($breakpoint-md) {
			column-gap: 25px;
		}

		@include max-screen($breakpoint-sm) {
			flex-direction: column;
		}
	}
	&__trend-title {
		margin-bottom: 18px;
	}
	&__trend-wrapper {
		width: 248px;

		@include max-screen($breakpoint-sm) {
			margin-bottom: 50px;
			width: auto;
		}
	}
	&__top10 {
		padding-bottom: 58px;

		@include max-screen($breakpoint-sm) {
			padding-bottom: 40px;
		}
		.separator {
			margin-bottom: 30px;
		}
	}
	&__top10-title {
		margin-bottom: 5px;
		span {
			color: $c-light-gray-2;
		}
	}
	&__top10-tables {
		display: grid;
		grid-template-rows: min-content min-content;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: column;
		column-gap: calc(56 / var(--container-width) * 100%);

		@include max-screen($breakpoint-sm) {
			display: block;
		}
	}
	&__source {
		color: $c-light-gray-2;
		font-size: 11px;
		line-height: 1.27;
		letter-spacing: -0.02em;
		&._line-t {
			padding-top: 10px;
			border-top: 1px solid $c-highlights-border;
		}
	}
	&__introtext {
		max-width: 389px;
	}
}
